.social-icons{
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    
    border: 3px;
    border-radius: 15px 0 0 10px;
    margin-right: 475px;
    margin-bottom: 10px;

    padding: 10px;
    background-color: black;
}
