.menu-layout {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 17px);
  box-sizing: border-box;
  overflow: hidden;
  padding: 0px 10px; /* espacio para simular el borde */
}

.menu-layout__fondo{
    flex:1;
    background: 
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.0) 0%,
      rgba(0, 0, 0, 0.0) 50%,
      rgba(0, 0, 0, 0.7) 100%
    ), url('/frontend/assets/images/cart.jpg');
    background-size: cover;
    background-position: center;
    border-right: 12px solid black;
    border-radius: 10px 0 0 10px;
    margin-bottom: 10px;

}

.menu-layout__contenido {
  flex: 1; 
  color: #EFE7D2;
  margin: 2px;
  padding: 30px;
  overflow-y: scroll; 
  scrollbar-width: none; /* Ocultar la barra de desplazamiento en Firefox */
  -ms-overflow-style: none;
  background-color: black;
  border: 2px solid gray;
  border-radius: 10px;
  max-width: 869px;
  margin-bottom: 78px;
}

.menu-layout__title {
    text-align: center;
    font-size: 3rem;
    margin-top: 80px;
    margin-bottom: 80px;
}


.menu-layout__table {
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #222;
  padding: 15px;
  margin-bottom: 25px;
  border-radius: 10px;
}


.menu-layout__table:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
    border: 2px solid gray;
    border-radius: 10px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
}

.title-group {
  display: flex;
  align-items: center;
  gap: 8px; /* Espacio entre título e icono */
  background-color: #222;
  padding-right: 8px;
  z-index: 1;
}

.title-container::after {
  content: "";
  position: absolute;
  bottom: 1.6em;
  left: 25%;
  right: 0%;
  height: 1px;
  background: linear-gradient(to right, #EFE7D2 50%, transparent 50%);
  background-size: 6px 1px;
  background-repeat: repeat-x;
  z-index: 0;
}

.title-container__title2,
.title-container__price {
  background-color: #222;
  padding: 0 5px;
  z-index: 1;
}

.title-container__vegan{
  width: 30px;
  height: 30px;
}


.menu-layout__info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.menu-layout__image {
 /*poner icono de "+" para agregar*/
  position: relative;
  background: url('/frontend/assets/images/item.jpg') no-repeat center center / cover;
  width: 150px;
  height: 100px;
  border-radius: 15px;
  overflow: hidden;

}
.menu-layout__description {
  color: white;
  font-size: 0.9rem;
  line-height: 1.5;
}


.menu-layout__categorias{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.menu-layout__btn {
    background-color: transparent;
    color: #EFE7D2;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 11px;
    cursor: pointer;
}

.menu-layout__btn:hover {
    background-color: white;
    color: black;
}

.menu-layout__name{
  font-size: 5rem;
  color: #EFE7D2;
  position: absolute;
  bottom: 0;
  margin-bottom: 50px;
  margin-left: 40px;
  width: 580px;
}


/*============================================agregate icon =====================*/

.add-button {
    position: absolute;
    bottom: 10px;
    left: 10px;
    border: none;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    width: 28px;
    height: 28px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    padding: 0;
}

.add-button:hover {
    background: rgba(255, 255, 255, 0.9);
    transform: scale(1.1);
}

.add-icon {
    width: 36px;
    height: 36px;
    fill: #000000; 
    stroke: #999;
    stroke-width: 1px;
    transition: all 0.3s ease;
}

.add-button.active .add-icon {
    fill: #ffcc00;
    stroke: #e6b800;
}
